<div class="container">
<h2>Forgot your password?</h2>
<div class="col-xs-12">
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, wrapper: :horizontal_form) do |f| %>
    <%= f.input :email, autofocus: true %>
    <%= f.button :submit, "Send me reset password instructions", class: "btn btn-default" %>
<% end %>
</div>
<%= render "devise/shared/links" %>
</div>