<script>
	$(document).ready(function(){
		$(window).stellar();
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip();
		});
		var elementButton = document.querySelector('.elevator');
		var elevator = new Elevator({
			element: elementButton,
			mainAudio: 'music/elevator-music.mp3',
			endAudio: 'music/ding.mp3'
		});
	});
</script>

<div id="wall_1" class="image" data-stellar-background-ratio="0.2">
	<div id="wall_2" class="image" data-stellar-background-ratio="0.3">
		<div id="wall_3" class="image" data-stellar-background-ratio="0.5">
			<a href="#bottom" id="fa" class="pull-right" data-toggle="tooltip" data-placement="left" title="Jump to Login/Registration"><i class="fa fa-user"></i></a>
			<div class="container">
				<h1 id="title">Bird's Nest</h1>
			</div>
		</div>
	</div>
</div>

<div id="content" class="content_1" data-stellar-background-ratio="0.5">
	<div class="container">
		<h1>About the Nest</h1>
		<div class="col-xs-12 about">
			<div class="col-xs-12 col-lg-9">
				<p>Distillery 3 wolf moon consequat, excepteur Odd Future freegan Thundercats Blue Bottle. Truffaut crucifix retro pickled mustache Pitchfork. Selvage banh mi quinoa, taxidermy mustache consequat gastropub Brooklyn et anim +1 disrupt fanny pack DIY cronut. Pitchfork pour-over health goth, Intelligentsia Wes Anderson hella labore gastropub before they sold out nulla cardigan chambray. Commodo chillwave swag reprehenderit, wolf hashtag blog gastropub. Ut Blue Bottle Shoreditch, gastropub banjo stumptown Tumblr butcher chillwave Godard authentic meh umami ugh. Culpa sint Bushwick aliqua, hoodie selfies esse letterpress Pinterest et keffiyeh wolf migas craft beer reprehenderit. </p>
			</div>
			<div class="col-xs-12 col-lg-9 col-lg-offset-3" id="ABC">
				<p>Master cleanse esse pour-over food truck retro, labore delectus Vice kale chips Thundercats pariatur cillum. Irure actually placeat food truck chia, hella fanny pack id. Eiusmod quinoa twee brunch leggings roof party vinyl veniam irony Pinterest, sapiente ethical synth. Ugh excepteur sapiente lo-fi. Fap cillum disrupt direct trade pop-up do, duis twee Vice polaroid in fanny pack master cleanse. Fixie aliquip pickled, Godard taxidermy plaid seitan. Lumbersexual bespoke Etsy deserunt lo-fi, health goth seitan nulla tofu distillery magna Pinterest. </p>
			</div>
		</div>
	</div>
</div>

<div id="wall_1" class="image" data-stellar-background-ratio="0.2">
	<div id="wall_2" class="image" data-stellar-background-ratio="0.3">
		
	</div>
</div>
<div id="content" class="content_2" data-stellar-background-ratio="0.5">
	<div class="container">
		<h1>About the Store</h1>
		<div class="col-xs-12 about">
			<div class="col-xs-12 col-lg-9 col-lg-offset-3">
				<p>PBR&B meditation ugh disrupt, kogi laborum ennui voluptate mumblecore Marfa High Life viral +1. Pitchfork next level nihil aliqua. In cupidatat cornhole meh disrupt flexitarian. Readymade banjo bespoke, asymmetrical fingerstache authentic reprehenderit accusamus velit selvage. Pickled Banksy typewriter accusamus, exercitation mlkshk heirloom seitan Thundercats cillum hashtag farm-to-table assumenda brunch Shoreditch. Thundercats sriracha banjo gastropub, Pitchfork fingerstache laborum enim. Viral do blog American Apparel. </p>
			</div>
			<div class="col-xs-12 col-lg-9" id="ABC">
				<p>Vero nostrud asymmetrical, quis chillwave aute roof party et magna heirloom Intelligentsia. Pour-over cillum vegan American Apparel umami, ex dolor tilde flexitarian sriracha quinoa non reprehenderit retro kogi. Lo-fi farm-to-table keffiyeh American Apparel. Selvage bicycle rights mlkshk, ex proident deserunt pug. Migas Vice anim, meggings swag velit sustainable trust fund next level Tumblr. YOLO kitsch Marfa photo booth ad, bespoke master cleanse tousled asymmetrical fugiat +1 freegan squid incididunt. +1 delectus banjo biodiesel hashtag. </p>
			</div>
		</div>
	</div>
</div>
<div id="wall_1" class="image" data-stellar-background-ratio="2.0">
	<div id="wall_2" class="image" data-stellar-background-ratio="1.8">
		<div id="wall_3" class="image" data-stellar-background-ratio="2.0">
			<!-- <div id="content_1" class="content" data-stellar-background-ratio="1.0"> -->
			<div id="wall_4" class="image" data-stellar-background-ratio="0.9">


<div class="elevator">
    <svg class="sweet-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" height="100px" width="100px">
        <path d="M70,47.5H30c-1.4,0-2.5,1.1-2.5,2.5v40c0,1.4,1.1,2.5,2.5,2.5h40c1.4,0,2.5-1.1,2.5-2.5V50C72.5,48.6,71.4,47.5,70,47.5z   M47.5,87.5h-5v-25h5V87.5z M57.5,87.5h-5v-25h5V87.5z M67.5,87.5h-5V60c0-1.4-1.1-2.5-2.5-2.5H40c-1.4,0-2.5,1.1-2.5,2.5v27.5h-5  v-35h35V87.5z"/>
        <path d="M50,42.5c1.4,0,2.5-1.1,2.5-2.5V16l5.7,5.7c0.5,0.5,1.1,0.7,1.8,0.7s1.3-0.2,1.8-0.7c1-1,1-2.6,0-3.5l-10-10  c-1-1-2.6-1-3.5,0l-10,10c-1,1-1,2.6,0,3.5c1,1,2.6,1,3.5,0l5.7-5.7v24C47.5,41.4,48.6,42.5,50,42.5z"/>
    </svg>
</div>



<!-- Button trigger modal -->
<div class="col-xs-6 reg">
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#registerModal">
	  Register
	</button>
</div>
<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Register</h4>
      </div>
      <div class="modal-body">
<!-- REGISTRATION -->

	<form class="form-horizontal" action="/users" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<div class="form-group">
			<label for="inputFirstName" class="col-lg-2 control-label">First Name<span class="required">*</span>:</label>
			<div class="col-lg-9">
				<input type="text" class="form-control" name="user[first_name]" placeholder="First Name">
			</div>
		</div>
		<div class="form-group">
			<label for="inputLastName" class="col-lg-2 control-label">Last Name<span class="required">*</span>:</label>
			<div class="col-lg-9">
				<input type="text" class="form-control"  name="user[last_name]" placeholder="Last Name">
			</div>
		</div>
		<div class="form-group">
			<label for="inputAddressStreet" class="col-lg-2 control-label">Address<span class="required">*</span>:</label>
			<div class="col-lg-9">
				<input type="text" class="form-control"  name="user[address_street]" placeholder="Street Address">
			</div>
		</div>
		<div class="form-group">
			<label for="inputAddressApt" class="col-lg-2 control-label">Apt#:</label>
			<div class="col-lg-9">
				<input type="text" class="form-control"  name="user[address_apt]" placeholder="Apartment/Unit #">
			</div>
		</div>
		<div class="form-group">
			<label for="inputAddressCity" class="col-lg-2 control-label">City<span class="required">*</span>:</label>
			<div class="col-lg-9">
				<input type="text" class="form-control"  name="user[address_city]" placeholder="City">
			</div>
		</div>
		<div class="form-group">
			<label for="inputAddressState" class="col-lg-2 control-label">State<span class="required">*</span>:</label>
			<div class="col-lg-9">
				<input type="text" class="form-control"  name="user[address_state]" placeholder="State (ex: WA)">
			</div>
		</div>
		<div class="form-group">
			<label for="inputAddressZip" class="col-lg-2 control-label">Zip<span class="required">*</span>:</label>
			<div class="col-lg-9">
				<input type="text" class="form-control"  name="user[address_zip]" placeholder="Zip/Postal code">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPhone" class="col-lg-2 control-label">Phone#:</label>
			<div class="col-lg-9">
				<input type="text" class="form-control"  name="user[phone]" placeholder="2065551234">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-2 control-label">Email<span class="required">*</span>:</label>
			<div class="col-lg-9">
				<input type="text" class="form-control"  name="user[email]" placeholder="Email">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="col-lg-2 control-label">Password<span class="required">*</span>:</label>
			<div class="col-lg-9">
				<input type="password" class="form-control"  name="user[password]" placeholder="Password">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPasswordConfirmation" class="col-lg-2 control-label">Password Confirmation<span class="required">*</span>:</label>
			<div class="col-lg-9">
				<input type="password" class="form-control"  name="user[password_confirmation]" placeholder="Password Confirmation">
			</div>
		</div>
		<small><span class="required">* required fields</span></small>
		<div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<button type="reset" class="btn btn-default">Reset</button>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</form>

<!-- REGISTRATION END -->

      </div>
     <!--  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<div class="col-xs-6 signInBtn">
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signInModal">
	  Sign In
	</button>
</div>
<!-- Modal -->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body">
<!-- LOGIN START -->
	<form class="form-horizontal" action="/users/sign_in" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<div class="form-group">
			<label for="inputEmail" class="col-lg-2 control-label">Email<span class="required">*</span>:</label>
			<div class="col-lg-9">
				<input type="text" class="form-control"  name="user[email]" placeholder="Email">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="col-lg-2 control-label">Password<span class="required">*</span>:</label>
			<div class="col-lg-9">
				<input type="password" class="form-control"  name="user[password]" placeholder="Password">
			</div>
		</div>
		<small><span class="required">* required fields</span></small>
		<div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<button type="reset" class="btn btn-default">Reset</button>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</form>

<!-- LOGIN END -->

      </div>
     <!--  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

			</div>
		</div>
	</div>
	<a name="bottom">
