<div class="container-fluid">
<%  @products.each do |product|
%>
    <div class="col-xs-4">
      <div class="thumbnail">
        <img src="<%=product.image.url(:thumb)%>" alt="Product image <%=product.id%>">
        <div class="caption">
          <h2 class="text-center"><%="$%5.2f" % product.price%></h2>
          <p class="text-center">
            <a href="/products/<%=product.id%>" class="btn btn btn-primary" role="button">View</a>
          </p>
        </div>
      </div>
    </div>
<%  end  %>
</div>
