<!DOCTYPE html>
<html>
<head>
  <title>BirdsNest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Ribeye|Permanent+Marker|Codystar|Niconne|Cabin+Sketch|Amatic+SC|Kaushan+Script|Berkshire+Swash|Ultra|Kranky|Milonga' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>
<script type="text/javascript" src="assets/javascripts/skrollr.min.js"></script>
<script type="text/javascript" src="assets/javascripts/jquery.stellar.min.js"></script>
</body>
</html>
